*{
    margin: 0px;
    padding: 0px;   
}

body{
    background-color: rgb(186, 136, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 50px;
    width: 100px;
    display:flex ;
    justify-content: center;
    align-items: center;
    background-color: white;
}